body {
  background-image: url(https://images5.alphacoders.com/336/336639.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.playerinfo {
  color: black;
  height: 400px;
  width: 331px;
  margin: 0 auto;
  bottom: 50%;
}

.username-text {
  font-family: 'Paytone One', sans-serif;
  color: red;
  background-color: black;
  font-size: 16px;
  height: 30px;
  width: 390px;
  margin: 0 auto;
  bottom: 50%;
  text-align: center;
  opacity: 0.8;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid red;
}

.username-box {
  font-family: 'Paytone One', sans-serif;
  font-size: 16px;
  color: red;
  height: 75px;
  width: 390px;
  margin: 0 auto;
  text-align: left;
  background-color: black;
  opacity: 0.8;
  font-weight: bold;
  border-radius: 10px;
  text-align: right;

}

h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Paytone One', sans-serif;
  font-size: 16px;
  height: 56px;
  width: 112px;
  background-color: black;
  color: red;
  opacity: 0.8;
  font-weight: bold;
  border-radius: 20px;
}


