body {
  background-color: black;


}

.gameboard {
display: inline-flex;
flex-wrap: wrap;
background-color: grey;
width: 1000px;
height: 800px;
}

#player {
  background-image: url(http://sonicgifs.weebly.com/uploads/2/8/3/6/28364181/5436477.gif);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#rings {
  background-image: url(http://vignette2.wikia.nocookie.net/sonic/images/0/00/Ring.gif/revision/20110823230238);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.flex-item {
  margin: 0;
  border: 1px solid red;
  box-sizing: border-box;
  background-color: white;
  height: 100px;
  width: 100px;
}

/*#box1 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box2 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box3 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box4 {
  height: 100px;
  width: 100px;
  background-color: white;
}
#box5 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box6 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box7 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box8 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box9 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box10 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box11 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box12 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box13 {
  height: 100px;
  width: 100px;
  background-color: white;
}

#box14 {
  height: 100px;
  width: 100px;
  background-color: white;

}*/

