body {
  background-color: black;
}

.flex-item {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  height: 100px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.greeting {
  color: white;
  font-size: 14px;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  position: absolute;
}

.gameboard {
  display: inline-flex;
  flex-wrap: wrap;
  background-image: url(https://images6.alphacoders.com/420/420340.jpg);
  background-image: no-repeat;
  background-size: 1000px 800px;
  width: 1000px;
  height: 800px;
  margin-left: 200px;
}

#player {
  background-image: url(http://sonicgifs.weebly.com/uploads/2/8/3/6/28364181/5436477.gif);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ring-image {
  position: center;
  margin: 0 auto;
}
/* path for character*/
#box1,
#box3,
#box4,
#box6,
#box7,
#box8,
#box9,
#box11,
#box12,
#box17,
#box18,
#box20,
#box22,
#box26,
#box27,
#box34,
#box35,
#box41,
#box42,
#box43,
#box51,
#box49,
#box50,
#box58,
#box59,
#box65,
#box66,
#box67,
#box68,
#box69,
#box61,
#box53,
#box45,
#box46,
#box37,
#box38,
#box30,
#box29,
#box21,
#box13,
#box14,
#box15,
#box16,
#box24,
#box32,
#box40,
#box48,
#box54,
#box62,
#box70,
#box56,
#box64,
#box63,
#box71,
#box72,
#box73,
#box80
 {
  visibility: hidden;
  /*background-image: url(http://static1.squarespace.com/static/5400bc86e4b0c1979a26b7d8/5400be1ae4b0882b9033e3bd/5481b752e4b0ad44deeab68c/1418328994741/?format=1000w);
  background-repeat: no-repeat;*/
}
/* boxes with coins */
#box19,
#box33,
#box57,
#box75,
#box28,
#box5,
#box23,
#box55,
#box78,
#box60 {
  background-image: url(http://vignette2.wikia.nocookie.net/sonic/images/0/00/Ring.gif/revision/20110823230238);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 30px 30px;
}
/* enemy boxes */
#box2,
#box10,
#box25,
#box31,
#box36,
#box39,
#box44,
#box47,
#box52,
#box74,
#box76,
#box77,
#box79 {
  background-image: url(http://sonicgifs.weebly.com/uploads/2/8/3/6/28364181/3799240.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-color: transparent;
  border: none;
  visibility: hidden;
}
/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

}



