body {

}

#game-board {
  height: 768px;
  width: 1024px;
  border: 2px solid white;
  position: absolute;
  background-color: black;
}

#player {
  background-image: url(http://sonicgifs.weebly.com/uploads/2/8/3/6/28364181/5436477.gif);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#rings {
  background-image: url(http://vignette2.wikia.nocookie.net/sonic/images/0/00/Ring.gif/revision/20110823230238);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.box1 {
  height: 100px;
  width: 200px;
  background-color: white;
  margin: 0 auto;
}

.box2 {
  height: 100px;
  width: 400px;
  background-color: white;
  margin: 0 auto;
}

.box3 {
  height: 100px;
  width: 600px;
  background-color: white;
  margin: 0  auto;
}
